body {
  font-family: 'Poppins', sans-serif;
  padding: 3rem;
  overflow-x: hidden;
}

.name {
  font-size: 5vh;
  font-weight: 400;
  letter-spacing: 0.5vh;
}

.name:hover {
  text-shadow: 0 0 5px mediumpurple;
}

.intro:hover {
  text-shadow: 0 0 5px mediumpurple;
}

#accordian {
  display: block;
  width: 21rem;
  color: black;
  padding-top: 25px;
}

#accordian h3 {
  background: white;
}

#accordian h3 a {
  padding: 0;
  font-size: 16px;
  line-height: 1.5rem;
  display: block;
  color: black;
  text-decoration: none;
}

#accordian h3:hover {
  text-shadow: 0 0 5px mediumpurple;
}

i {
  margin-right: 10px;
}

#accordian li {
  list-style-type: none;
}

#accordian ul ul li a,
#accordian h4 {
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 2rem;
  display: block;
  padding: 0 15px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: relative;
}

#accordian ul ul li a:hover {
  background: white;
  border-left: 4px solid black;
  padding-left: 5px;
}

#accordian ul ul {
  display: none;
}

#accordian li.active>ul {
  display: block;
}

#accordian ul ul ul {
  margin-left: 10px;
  border-left: 2px dotted black;
}

#accordian a:not(:only-child):after {
  content: "\f104";
  font-family: fontawesome;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
  content: "\f107";
}

.frame {
  position: absolute;
  margin: auto;
  left: 28vw;
  top: 12vh;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.full {
  margin-left: 56vw;
  padding-bottom: 2vh;
  text-decoration: none;
  color: black;
  font-size: bold;
}

.full:hover {
  text-shadow: 0 0 5px mediumpurple;
}

.desc {
  display: block;
  width: 50rem;
  margin: 3rem 1rem 4rem 0.75rem;
  padding: 4rem;
  text-align: justify;
  border-left: 4px solid black;
}

.text {
  color: black;
}

.text:hover {
  text-shadow: 0 0 5px mediumpurple;
}

.welcome {
  display: block;
  position: absolute;
  left: 10rem;
  top: 3rem;
  font-size: 15vh;
  font-weight: 600;
  width: 40rem;
  animation: colorRotate 10s linear infinite;
}

.wel {
  letter-spacing: 0.8vh;
}

@keyframes colorRotate {
  from {
    color: #ff2400;
  }
  14.3% {
    color: #e81d1d;
  }
  28.6% {
    color: #e8b71d;
  }
  42.9% {
    color: #e3e81d;
  }
  57.2% {
    color: #1de840;
  }
  71.5% {
    color: #1ddde8;
  }
  85.8% {
    color: #2b1de8;
  }
  100% {
    color: #dd00f3;
  }
  0% {
    color: #dd00f3;
  }
}